* {
  font-family: "Epilogue";
}
body {
  background-color: #faf8f6;
  font-size: 18px;
}
h3 {
  font-size: 72px;
  font-weight: lighter;
  letter-spacing: -1px;
}
.profile > h4 {
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: -0.5px;
}
.profile-info > p {
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: lighter;
  line-height: 26px;
  padding-right: 80px;
}
.heading-p {
  padding-right: 50%;
}
.stat-list > p {
  font-weight: normal;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
}
.stat-list > h3 {
  font-weight: bold;
  margin: 0px;
  padding: 0;
}
.stat-list {
  margin: 30px 0;
}
.container {
  padding: 10px 140px;
}
.logo {
  display: flex;
}
button.head {
  background-color: #faf8f6;
  border-radius: 5px;
  display: flex;
  float: right;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #051024;
  font-weight: bold;
}
button.head:hover {
  background-color: #172339;
  color: #fff;
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  padding: 0px 0;
}
.hero-item-left {
  position: relative;
  flex: 80%;
  background-repeat: no-repeat;
  background-image: url("./assets/image-hero-portrait@2x.png");
  background-position: right;
  background-size: 300px;
}
.hero-text {
  padding-bottom: 80px;
}
button.hero {
  background-color: #172339;
  border-radius: 5px;
  float: left;
  padding: 10px;
  margin: auto;
  color: white;
  font-weight: bold;
}
button.hero:hover {
  background-image: linear-gradient(
    to bottom right,
    RGB(160, 96, 255),
    RGB(203, 48, 227),
    RGB(255, 168, 78)
  );
  color: #fff;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hero-item-left > p {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-item-left > button {
  float: left;
}
.hero-pattern {
  margin-top: 30px;
  position: absolute;
  left: 290px;
}
.hero-item-right {
  flex: 20%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image > img {
  height: 100%;
  width: 300px;
  float: right;
}
.hero-mobile {
  display: none;
}
.profile-flex-left {
  flex: 50%;
  padding-left: 90px;
  background-repeat: no-repeat;
  background-image: url("./assets/pattern-blur.svg");
  background-position: center;
  display: flex;
}
.profile-flex-right {
  flex: 50%;
  align-items: center;
  display: flex;
}
.profile-flex-left > img {
  width: 350px;
  height: 410px;
  margin-top: -50px;
}
.profile {
  display: flex;
  background-color: #051024;
  width: 100%;
  padding: 0px;
  border-radius: 10px;
}
.profile-container {
  display: flex;
  width: 100%;
  margin-bottom: -180px;
  margin-top: 100px;
}
.profile-curve {
  margin: auto;
}
.profile-blur {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -600px;
  left: 120px;
}
.profile-info {
  text-align: left;
  color: #fff;
  text-align: left;
}
.profile-info > h4 {
  font-size: 48px;
  font-weight: lighter;
  margin: 0;
}
.footer {
  height: 250px;
  background-color: #f3ede7;
  padding: 10px 140px;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0px;
}
.footer-box {
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;
  position: relative;
  top: 170px;
}
.footer-copyright {
  display: flex;
  align-items: center;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social > img {
  margin: 0 5px;
}
.logo {
  display: flex;
  align-items: center;
}
.bold {
  font-weight: bold;
}

/* mobile responsiveness */

@media (max-width: 600px) {
  .container {
    padding: 5px 0px;
  }
  .hero-image {
    display: none;
  }
  .heading-p {
    padding-right: 0;
  }
  .hero-item-left {
    background-repeat: no-repeat;
    background-image: none;
  }
  .hero-item-right {
    flex: 100%;
    position: relative;
    justify-content: right;
    align-items: center;
  }
  .hero {
    margin: 0;
    padding: 0px 20px;
  }
  .hero-mobile {
    display: inline;
    width: 100%;
    object-fit: cover;
    margin-top: 40px;
  }
  .hero-text > h3 {
    font-size: 42px;
  }
  .stat-list {
    text-align: center;
  }
  .hero-stat {
    margin: 0px 0px 40px 0px;
  }
  .hero-text {
    padding-bottom: 0;
  }

  .profile-flex-left {
    flex: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .profile-flex-right {
    flex: 100%;
    align-items: center;
    display: flex;
  }
  .profile {
    display: flex;
    background-color: #051024;
    width: 100%;
    padding: 0px;
    flex-direction: column;
  }
  .profile-flex-left > img {
    width: 260px;
    height: 350px;
    margin-top: -150px;
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .profile-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile-info > p {
    padding: 0 40px;
  }
  .profile-flex-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
  }
  .footer-box {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 170px;
  }
  .footer {
    height: 290px;
  }
  .profile,
  .profile-flex-left {
    background-image: none;
    border-radius: 10px;
  }
  .profile-curve {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: auto;
  }
  .profile-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile-curve > img {
    display: flex;
  }
  .profile-flex-left {
    display: flex;
    flex-direction: column;
  }
  .hero-pattern {
    margin-top: 15px;
    position: absolute;
    left: 155px;
    width: 45px;
  }
  .hero-pattern > img {
    width: 180px;
  }
  .footer {
    height: 290px;
    padding: 20px;
  }
}

/* tablet responsiveness */

@media (min-width: 768px) and (max-width: 1024px) {
  .hero-item-right {
    flex: 100%;
    flex-direction: row;
    display: flex;
  }
  .hero-stat {
    flex: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .profile-curve {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    padding: auto;
  }
  .profile-curve > img {
    display: flex;
    margin: 0 0 40px 0;
  }
  .profile-flex-left {
    display: flex;
    flex-direction: column;
    padding: auto;
  }
  .profile-flex-left {
    flex: 100%;
    padding-left: 0px;
  }
  .profile-flex-right {
    flex: 100%;
    align-items: center;
    display: flex;
  }
  .profile {
    display: flex;
    background-color: #051024;
    width: 100%;
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .profile-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 65px;
  }
  .profile-info > p {
    padding: 0;
  }
  .container {
    padding: 10px 20px;
  }
  .footer {
    padding: 10px 20px;
  }
  .profile-flex-left {
    width: 260px;
    height: 350px;
    margin-top: -130px;
    display: flex;
    padding: auto;
  }
  .hero-item-right {
    margin: 40px 0px 80px 0px;
  }
}
